name: CI

on:
  push:
    branches: 
    - dev-branch
  pull_request:
    branches: 
    - main
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.37
      - name: Run unit-tests
        run: make test
      - name: Run integrations tests
        run: make int-tests
